body {
	

}
.wrap {
		margin: 0 auto;
		width: 1024px;
		overflow: hidden;
		}

.menu .left {
	float:left;
	color:#fff;
	z-index: 100;
	font-size:15px;
}

.menu .right{
	z-index: 100;
	float: right;
	color: #fff;

}

.right a {
	display:inline-block;
	padding:0 15px;
	font-size:13px;
	background:url(../images/dash2.png);
	background-size: 0px 2px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.2s ease;
}


.menu {
	font-family: 'Roboto', sans-serif;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 80px;
	background: #000;
	z-index:80;
	line-height: 80px;
	opacity: 0.8; 
	transition: all 1s ease;
}

.menu.close{
	height: 50px;
	line-height: 50px;
	opacity: 0.3

		
}
.menu>.wrap {
	overflow: hidden;
}



#section0 {
	background-image: url(../images/IMG_0004.jpg);
	background-size:100%;

}




.navBox {
	margin-top
	width:100%;
	text-align: center;
	position: relative;
	z-index: 70;
}

.navBox a{
	font-family: 'Roboto', sans-serif;
	display: block;
	font-size: 60px;
    text-decoration: none;
    color: white;
    opacity: 0.95;
   	padding-top:10px;
   		background:url(../images/dash2.png);
	background-size: 0px 3px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 200ms;

}

.shadowBar {
	width:100%;
	height:70px;
	background:#404040;
	position:absolute;
	opacity: 0;
	top: 0;
	transition: all 300ms ease;

}
.shadowBar.step1{
	opacity: 1;
	top:0;
}
.shadowBar.step2{
	opacity: 1;
	top:70px;
}
.shadowBar.step3{
	opacity: 1;
	top:140px;
}
.shadowBar.step4{
	opacity: 1;
	top:210px
}

.slide {
	position: relative;
}

.slide img{
	width:100%;
}

.about {

	position:absolute;

	width:300px ;
	height: 120px;
	background: #0E0C0C;
	opacity: 0.8;
	top:700px;
	left: 100px;
	border-radius: 10px;
	font-size:15px;
}

span {
	display: block;
	padding: 15px 30px;
	font-family: 'Roboto', sans-serif;
	color:#F4F4F4;
	line-height: 25px;

}

#section1>.slide {
	width:25%;
}


#section4 {
	color:white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size:25px;
	position: relative;
}

#section4 a {

}

.snsBox {
	position: absolute;
	border-radius: 5px
	background:white;
	opacity: 0.4;
	transition: all 200ms ease;
	font-family: 'Roboto', sans-serif;

}

.box1 {
	top: 21%;
	left:50%;
	text-align: center;
	width:250px;
	height: 500px;
	border: solid white 5px;
}

.box2
 {
	top: 40%;
	left:60%;
	text-align: center;
	width:450px;
	height: 200px;
	border: solid white 5px;

}

.box3
 {
	top: 55%;
	left:20%;
	text-align: center;
	width:450px;
	height: 280px;
	border: solid white 5px;
}

.box4
 {
	top: 15%;
	left:10%;
	text-align: center;
	width:350px;
	height: 200px;
	border: solid white 8px;
	opacity: 1 !important
}

.box4 div {
	padding-top:5px;
}
.box5
 {	
 	position: absolute;
	border-radius: 5px;
 	color: black;
 	z-index: 2;
 	background: black;
	top: 15%;
	left:10%;
	text-align: center;
	width:350px;
	height: 200px;
	border: solid white 8px;
	transition: all 250ms ease;
	opacity: 0.8;
}



